<h1>Welcome#index</h1>
<!-- <p>Find me in app/views/welcome/index.html.erb</p> -->

<hr>

<%= form_for :article do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
    <%= f.label :text %><br>

    <div>Now you can add emojis on your post !</div>
    
	 <p class="emoji-picker-container">
	    <%= f.text_field :text, class: 'form-control', data: { emojiable: true }%>
	</p>


  <p>
    <%= f.submit %>
  </p>
<% end %>



